.justPriceWrapperMini {
    width: 100%;
    min-height: 1.625rem;
    max-height: fit-content;

    background: none;
}
.justPriceWrapperMini .justTitles01 {
    display: none;
}
.justPriceWrapperMini .justTitles01 .description{
    display: none;
}
.justPriceWrapperMini .justTitles01 .numbers{
    display: none;
}
.justPriceWrapperMini .justTitles02 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.justPriceWrapperMini .justTitles02 .totalamount {
    width: 50%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.125rem;
    text-align: start;

    color: #1D1F22;
}
.justPriceWrapperMini .justTitles02 .numbers{
    width: 50%;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.625rem;
    text-align: end;

    color: #1D1F22;
}