.mainCartContainer {
    width: 90rem;
    min-height: 100vh; /*89.5625rem;*/
    height: fit-content;
    
    position: absolute;
    left: calc((100% - 90rem) / 2 );
    right: calc((100% - 90rem) / 2 );
    top: 5rem;
    bottom: 0rem;
    padding-bottom: 3rem;
    background: #FFFFFF;
}
.blocker {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    height: max-content;
    top: 5.1rem;
    left: 0rem;
    z-index: 5000;
    display: block;
    background-color: rgba(0,0,0,0.4);
}