.currentCategoryViewer {
  width: 28rem;
  height: 4.25rem;

  position: absolute;
  left: 6.25rem;
  top: calc(50% - 4.25rem/2 - 37.6875rem);

  display: flex;
  align-items: center;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 2.625rem;
  line-height: 160%;
  color: #1D1F22;
}